<!DOCTYPE html>
<html>
<head>
	<title>Feeder</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
</head>
<body>
<!-- begin container_main  -->
<div class="container_main">
	<a class="subscribe_new" href="#"></a>
	<!-- begin header  -->
	<div class="header">
		<div class="wmain">
			<div class="l_left">
				<a class="h_fb" href="#">
					<span>мы в FACEBOOK</span>
				</a>
			</div>
			<div class="l_center">
				<a class="logo" href="#"></a>
			</div>
			<div class="l_right">
				<a class="btn_main" href="#">
					<span>обратная связь</span>
				</a>
			</div>
		</div>
	</div>
	<!-- end header -->
	<!-- begin nav_main  -->
	<div class="nav_main">
		<div class="wmain">
			<ul class="nav_main_inner">
				<li><a href="#">главная</a></li>
				<li>
					<a href="#">турниры</a>
					<ul>
						<li><a href="#">Feeder Mix Fight Challenge #2</a></li>
						<li><a href="#">Feeder Mix Fight Challenge #1</a></li>
					</ul>
				</li>
				<li><a href="#">РЕЗУЛЬТАТЫ и РЕЙТИНГ</a></li>
				<li><a href="#">НОВОСТИ</a></li>
				<li><a href="#">ГАЛЕРЕЯ</a></li>
				<li><a href="#">Блоги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
	<!-- end nav_main -->
	<div class="container_inner">
		<div class="title_main">
			<span>
				БЛОГИ
			</span>
		</div>
		<!-- begin container_inner_sidebar  -->
		<div class="container_inner_sidebar">
			<!-- begin blogs_main  -->
			<div class="blogs_main">
				<div class="blog_block">
					<div class="blog_name">
						<a href="#">Монолеска на фидере, часть 2, крючок в палец</a>
					</div>
					<div class="blog_data">01.03.15</div>
					<div class="blog_fi">Дмитрий Салапин</div>
					<div class="clr"></div>
					<div class="content_text">
						<img width="640" src="img/blog_video.jpg">
						<br><br><br>
						<p>
						После выхода в свет прошлого видео про монофил на фидере, в комментариях было бурное обсуждение и многие, кому лень на очередной рыбалке, отмотать 50 метров лески и подергать самостоятельно, делали всевозможные предположения, что будет с моим пальцем, если вместо воблера взять обычный крючок, на который производится ловля и не зажимать его в руке, а поставить острием к коже.
						</p>
						<p>
						Поскольку я держал тот самый воблер в руках и меня честно подсекали, я хорошо ощущал усилие и предполагал, что и с крючком (а точнее с пальцем) при разумных подсечках ничего особенно страшного не будет. Пообещал снять второе видео, с небольшим рабочим крючком и пальцем. Выполняю обещание.
						</p>
						<p>
						Если держать крючок пальцами, то совершенно точно никакого эффекта не получить, поэтому пришлось честно ставить крючок острием сначала на ноготь, затем на мягкую часть пальца. Смертельный номер улыбка
						</p>
						<p>
						По результатам эксперимента могу сказать следующее. Ноготь крючок не пробивает даже при самых сильных подсечках, как в прошлом видео. С этим все понятно. С мягкими тканями начинали пробовать с небольших "подсечек" и дошли до вполне себе средних. Причем еще и фидер был более жесткий, а это тоже сказывается.
						</p>
						<p>
						При подсечке, когда вершинка фидера ходит на метр-полтора, крючок в палец не впивается, что вы можете своими глазами наблюдать в видео. Искать то усилие, когда крючок пробьет палец, я не стал улыбка, но по ощущениям, еще небольшой запас оставался. Думаю, что полтора-два метра хода удилища при длине лески 50 метров это тот диапазон, когда крючок еще не пробивает кожу.
						</p>
						<p>
						Заодно в видео дал небольшое пояснение, касаемо этого теста, ответ на вопрос "почему это у меня все ловится на моно" и в чем смысл этого, в чем-то синтетического, теста.
						</p>
					</div>
					<div class="blog_tags">
						Теги: <a href="#">фидер</a> <a href="#">леска</a> <a href="#">монофил</a> <a href="#">Снасти</a>
					</div>
					<div class="send_comment">
						<form class="form_style">
							<div class="send_comment_head">
								<div class="sch_img">
									<img src="img/blog_comment_ava.png">
								</div>
								<textarea>Оставить сообщение</textarea>
							</div>
							<div class="clr"></div>
							<div class="send_comment_soc">
								<div class="sc_title">ВОЙТИ С ПОМОЩЬЮ</div>
								<ul>
									<li><a href="#"><img src="img/comment_soc1.png"></a></li>
									<li><a href="#"><img src="img/comment_soc2.png"></a></li>
									<li><a href="#"><img src="img/comment_soc3.png"></a></li>
									<li><a href="#"><img src="img/comment_soc4.png"></a></li>
								</ul>
							</div>
							<div class="send_comment_form">
								<div class="sc_title">ИЛИ ВЫБЕРИТЕ ИМЯ:</div>
								<input class="in_name" type="text" value="Ваше имя">
								<input class="in_mail" type="text" value="Ваш e-mail адрес">
								<button class="btn_main"><span>ОТПРАВИТЬ</span></button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- end blogs_main -->
			<!-- begin container_sidebar  -->
			<div class="container_sidebar">
				<div class="popular">
					<div class="sidebar_title">Популярные записи</div>
					<a class="popular_img" href="#">
						<img src="img/popular_img.jpg">
					</a>
					<div class="popular_name">
						<a href="#">Монолеска на фидере - 1 </a>
						<span>25.08.15</span>
					</div>
				</div>
				<div class="publ">
					<div class="sidebar_title">Публикации</div>
					<ul class="publ_list">
						<li>
							<div class="publ_img">
								<img src="img/public_img1.jpg">
							</div>
							<div class="publ_right">
								<a href="#">Охота и Рыболовство на Руси</a>
								<div class="publ_data">25.08.15</div>
							</div>
						</li>
						<li>
							<div class="publ_img">
								<img src="img/public_img2.jpg">
							</div>
							<div class="publ_right">
								<a href="#">Монолеска на фидере часть 1</a>
								<div class="publ_data">25.08.15</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="rar">
					<div class="sidebar_title">Архив</div>
					<ul class="rar_list">
						<li><a href="#">August 2015 (1)</a></li>
						<li><a href="#">June 2015 (1)</a></li>
						<li><a href="#">May 2015 (2)</a></li>
						<li><a href="#">March 2015 (3)</a></li>
						<li><a href="#">February 2015 (3)</a></li>
						<li><a href="#">January 2015 (3)</a></li>
						<li><a href="#">December 2014 (1)</a></li>
						<li><a href="#">November 2014 (1)</a></li>
						<li><a href="#">September 2014 (2)</a></li>
						<li><a href="#">August 2014 (3)</a></li>
						<li><a href="#">July 2014 (4)</a></li>
						<li><a href="#">June 2014 (1)</a></li>
						<li><a href="#">April 2014 (1)</a></li>
						<li><a href="#">August 2013 (1)</a></li>
						<li><a href="#">July 2013 (1)</a></li>
						<li><a href="#">June 2013 (2)</a></li>
						<li><a href="#">April 2013 (1)</a></li>
						<li><a href="#">January 2013 (1)</a></li>
						<li><a href="#">November 2012 (1)</a></li>
						<li><a href="#">September 2012 (1)</a></li>
						<li><a href="#">August 2012 (1)</a></li>
						<li><a href="#">March 2012 (1)</a></li>
						<li><a href="#">February 2012 (1)</a></li>
						<li><a href="#">October 2010 (1)</a></li>
					</ul>
				</div>
				<div class="rar">
					<div class="sidebar_title">Тэги</div>
					<ul class="rar_list">
						<li><a href="#">Bream</a></li>
						<li><a href="#">Browning</a></li>
						<li><a href="#">Enterprise Tackle Corn</a></li>
						<li><a href="#">Flat</a></li>
						<li><a href="#">LK Baits</a></li>
						<li><a href="#">MAP</a></li>
						<li><a href="#">Next Generation Fishing</a></li>
						<li><a href="#">Nutrabaits</a></li>
						<li><a href="#">Rhino Baits</a></li>
						<li><a href="#">Sensas</a></li>
						<li><a href="#">VDE</a></li>
						<li><a href="#">ZooM's Workshop</a></li>
						<li><a href="#">ask pro</a></li>
						<li><a href="#">big fish</a></li>
						<li><a href="#">bream</a></li>
						<li><a href="#">carp</a></li>
						<li><a href="#">carp fishing</a></li>
						<li><a href="#">carp leader</a></li>
						<li><a href="#">carpolux</a></li>
					</ul>
				</div>
			</div>
			<!-- end container_sidebar -->
		</div>
		<!-- end container_inner_sidebar -->
	</div>
	<!-- begin footer  -->
	<div class="footer">
		<div class="wmain">
			<ul class="nav_main_inner">
				<li><a href="#">главная</a></li>
				<li><a href="#">турниры</a></li>
				<li><a href="#">РЕЗУЛЬТАТЫ и РЕЙТИНГ</a></li>
				<li><a href="#">НОВОСТИ</a></li>
				<li><a href="#">ГАЛЕРЕЯ</a></li>
				<li><a href="#">Блоги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="clr"></div>
			<div class="f_left">
				<a class="h_fb" href="#">
					<span>мы в FACEBOOK</span>
				</a>
			</div>
			<div class="f_center">
				<a class="btn_main" href="#">
					<span>обратная связь</span>
				</a>
			</div>
			<div class="f_right">
				<a class="f_create" href="#">
					<span>Разработка сайта:</span> WHITE-MILK.RU
				</a>
			</div>
		</div>
	</div>
	<!-- end footer -->
</div>
<!-- end container_main -->
</body>
</html>