<!DOCTYPE html>
<html>
<head>
	<title>Feeder</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	<!-- fancybox -->
	<script type="text/javascript" src="js/fancybox/jquery.fancybox.js"></script>
	<script type="text/javascript" src="js/fancybox/jquery.fancybox.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css">
	<script type="text/javascript">
		$(document).ready(function() {
			$(".fb").fancybox({
				padding: 55,
			});
		});
	</script>
	<!-- fancybox end -->
</head>
<body>
<!-- begin container_main  -->
<div class="container_main">
	<a class="subscribe_new" href="#"></a>
	<!-- begin header  -->
	<div class="header">
		<div class="wmain">
			<div class="l_left">
				<a class="h_fb" href="#">
					<span>мы в FACEBOOK</span>
				</a>
			</div>
			<div class="l_center">
				<a class="logo" href="#"></a>
			</div>
			<div class="l_right">
				<a class="btn_main" href="#">
					<span>обратная связь</span>
				</a>
			</div>
		</div>
	</div>
	<!-- end header -->
	<!-- begin nav_main  -->
	<div class="nav_main">
		<div class="wmain">
			<ul class="nav_main_inner">
				<li><a href="#">главная</a></li>
				<li>
					<a href="#">турниры</a>
					<ul>
						<li><a href="#">Feeder Mix Fight Challenge #2</a></li>
						<li><a href="#">Feeder Mix Fight Challenge #1</a></li>
					</ul>
				</li>
				<li><a href="#">РЕЗУЛЬТАТЫ и РЕЙТИНГ</a></li>
				<li><a href="#">НОВОСТИ</a></li>
				<li><a href="#">ГАЛЕРЕЯ</a></li>
				<li><a href="#">Блоги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
	<!-- end nav_main -->
	<!-- begin container_inner  -->
	<div class="container_inner">
		<div class="title_main">
			<span>
				ГАЛЕРЕЯ
			</span>
		</div>
		<div class="gallery_inner">
			<div class="gi_title">
				Feeder Mix Fight Challenge #1
				<span>FMFC#1</span>
				<a class="gi_back" href="#">вернуться обратно</a>
			</div>
			<div class="gi_text_info content_text">
				<p>
					26 июля 2015 года недалеко от г. Бронницы на водоеме туристической базы «Велинка» прошел первый турнир FEEDER MIX FIGHT CHALLENGE. Первый турнир собрал 59 участников. По условиям турнира все участники ловили на прикормки одного производителя CARPOLUX. Турнир проводился при поддержке магазинов SaimoFishing и Мои Снасти.
				</p>
			</div>
			<ul class="gallery_inner_list">
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img1.jpg"><img src="img/gallery_img1.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img2.jpg"><img src="img/gallery_img2.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img3.jpg"><img src="img/gallery_img3.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img4.jpg"><img src="img/gallery_img4.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img5.jpg"><img src="img/gallery_img5.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img6.jpg"><img src="img/gallery_img6.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img7.jpg"><img src="img/gallery_img7.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img8.jpg"><img src="img/gallery_img8.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img9.jpg"><img src="img/gallery_img9.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img10.jpg"><img src="img/gallery_img10.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img11.jpg"><img src="img/gallery_img11.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img12.jpg"><img src="img/gallery_img12.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img13.jpg"><img src="img/gallery_img13.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img14.jpg"><img src="img/gallery_img14.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img15.jpg"><img src="img/gallery_img15.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img16.jpg"><img src="img/gallery_img16.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img17.jpg"><img src="img/gallery_img17.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img18.jpg"><img src="img/gallery_img18.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img19.jpg"><img src="img/gallery_img19.jpg"></a></li>
				<li><a class="fb" rel="gallery" title="Feeder Mix Fight Challenge #1" href="img/gallery_popup_img20.jpg"><img src="img/gallery_img20.jpg"></a></li>
			</ul>
			<div class="paginator">
				<div class="paginator_inner">
					<a class="pag_prew" href="#"></a>
					<ul>
						<li><a class="act" href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><span>...</span></li>
						<li><a href="#">6</a></li>
					</ul>
					<a class="pag_next" href="#"></a>
				</div>
			</div>
		</div>		
	</div>
	<!-- end container_inner -->
	<!-- begin footer  -->
	<div class="footer">
		<div class="wmain">
			<ul class="nav_main_inner">
				<li><a href="#">главная</a></li>
				<li><a href="#">турниры</a></li>
				<li><a href="#">РЕЗУЛЬТАТЫ и РЕЙТИНГ</a></li>
				<li><a href="#">НОВОСТИ</a></li>
				<li><a href="#">ГАЛЕРЕЯ</a></li>
				<li><a href="#">Блоги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="clr"></div>
			<div class="f_left">
				<a class="h_fb" href="#">
					<span>мы в FACEBOOK</span>
				</a>
			</div>
			<div class="f_center">
				<a class="btn_main" href="#">
					<span>обратная связь</span>
				</a>
			</div>
			<div class="f_right">
				<a class="f_create" href="#">
					<span>Разработка сайта:</span> WHITE-MILK.RU
				</a>
			</div>
		</div>
	</div>
	<!-- end footer -->
</div>
<!-- end container_main -->
</body>
</html>