<!DOCTYPE html>
<html>
<head>
	<title>Feeder</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
</head>
<body>
<!-- begin container_main  -->
<div class="container_main">
	<a class="subscribe_new" href="#"></a>
	<!-- begin header  -->
	<div class="header">
		<div class="wmain">
			<div class="l_left">
				<a class="h_fb" href="#">
					<span>мы в FACEBOOK</span>
				</a>
			</div>
			<div class="l_center">
				<a class="logo" href="#"></a>
			</div>
			<div class="l_right">
				<a class="btn_main" href="#">
					<span>обратная связь</span>
				</a>
			</div>
		</div>
	</div>
	<!-- end header -->
	<!-- begin nav_main  -->
	<div class="nav_main">
		<div class="wmain">
			<ul class="nav_main_inner">
				<li><a href="#">главная</a></li>
				<li>
					<a href="#">турниры</a>
					<ul>
						<li><a href="#">Feeder Mix Fight Challenge #2</a></li>
						<li><a href="#">Feeder Mix Fight Challenge #1</a></li>
					</ul>
				</li>
				<li><a href="#">РЕЗУЛЬТАТЫ и РЕЙТИНГ</a></li>
				<li><a href="#">НОВОСТИ</a></li>
				<li><a href="#">ГАЛЕРЕЯ</a></li>
				<li><a href="#">Блоги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
	<!-- end nav_main -->
	<!-- begin container_inner  -->
	<div class="container_inner">
		<div class="title_main">
			<span>
				НОВОСТИ
			</span>
		</div>
		<div class="new_inner">
			<div class="ni_img">
				<img src="img/new_img_inner.jpg">
			</div>
			<div class="ni_info">
				<div class="ni_name">Так что же такое FEEDER MIX FIGHT CHALLENGE?</div>
				<div class="ni_data">25.08.15</div>
				<div class="content_text">
					<p>
						Так что же такое FEEDER MIX FIGHT CHALLENGE? прежде всего это масса адреналина, положительных эмоций и общения, это место где любой может не только попробовать свои силы в борьбе с сильнейшими спортсменами и рыболовами-любителями, но и перенять их опыт в дружественной атмосфере! FMFC- это новое слово в отечественных соревнованиях, ведь мы продвигаем новую концепцию на основе уравнивания шансов всех участников, обеспечивая их прикормкой одного производителя. Прежде всего это масса адреналина, положительных эмоций и общения, это место где любой может не только попробовать свои силы в борьбе с сильнейшими спортсменами и рыболовами-любителями, но и перенять их опыт в дружественной атмосфере!<br>
						Так что же такое FEEDER MIX FIGHT CHALLENGE? прежде всего это масса адреналина, положительных эмоций и общения, это место где любой может не только попробовать свои силы в борьбе с сильнейшими спортсменами и рыболовами-любителями, но и перенять их опыт в дружественной атмосфере! FMFC- это новое слово в отечественных соревнованиях, ведь мы продвигаем новую концепцию на основе уравнивания шансов всех участников, обеспечивая их прикормкой одного производителя. Прежде всего это масса адреналина, положительных эмоций и общения, это место где любой может не только попробовать свои силы в борьбе с сильнейшими спортсменами и рыболовами-любителями, но и перенять их опыт в дружественной атмосфере! 
					</p>
				</div>
				<a class="ni_back" href="#">вернуться обратно</a>
			</div>
		</div>	
	</div>
	<!-- end container_inner -->
	<!-- begin footer  -->
	<div class="footer">
		<div class="wmain">
			<ul class="nav_main_inner">
				<li><a href="#">главная</a></li>
				<li><a href="#">турниры</a></li>
				<li><a href="#">РЕЗУЛЬТАТЫ и РЕЙТИНГ</a></li>
				<li><a href="#">НОВОСТИ</a></li>
				<li><a href="#">ГАЛЕРЕЯ</a></li>
				<li><a href="#">Блоги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="clr"></div>
			<div class="f_left">
				<a class="h_fb" href="#">
					<span>мы в FACEBOOK</span>
				</a>
			</div>
			<div class="f_center">
				<a class="btn_main" href="#">
					<span>обратная связь</span>
				</a>
			</div>
			<div class="f_right">
				<a class="f_create" href="#">
					<span>Разработка сайта:</span> WHITE-MILK.RU
				</a>
			</div>
		</div>
	</div>
	<!-- end footer -->
</div>
<!-- end container_main -->
</body>
</html>