<!DOCTYPE html>
<html>
<head>
	<title>Feeder</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
</head>
<body>
<!-- begin container_main  -->
<div class="container_main">
	<!-- begin popup_main  -->
	<div style="display: block;" class="popup_main">
		<div style="display: block;" class="popup_inner popup_tyrnir">
			<a class="closeform" href="#"></a>
			<div class="put_title">ЗАЯВКА НА УЧАСТИЕ в турнире</div>
			<form class="form_style">
				<div class="put_l">
					<input class="in_name" type="text" value="Имя и фамилия первого спортсмена">
					<input class="in_name" type="text" value="Имя и фамилия второго спортсмена">
					<input class="in_name" type="text" value="Имя и фамилия тренера">
					<input class="in_comanda" type="text" value="Название команды">
					<input class="in_sity" type="text" value="Город">
					<input class="in_phone" type="text" value="Контактный номер телефона">
					<input class="in_mail" type="text" value="E-mail">
				</div>
				<div class="put_r">
					<textarea>Примечание</textarea>
					<div class="form_kaptcha">
						<input type="text" value="">
						<div class="fk_right">
							<span>
								<img src="img/kaptcha.png">
							</span>
							<a href="#">получить новый код</a>
						</div>
					</div>
					<div class="text_align">
						<button class="btn_main">
							<span>ОТПРАВИТЬ</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- end popup_main -->
	<a class="subscribe_new" href="#"></a>
	<!-- begin header  -->
	<div class="header">
		<div class="wmain">
			<div class="l_left">
				<a class="h_fb" href="#">
					<span>мы в FACEBOOK</span>
				</a>
			</div>
			<div class="l_center">
				<a class="logo" href="#"></a>
			</div>
			<div class="l_right">
				<a class="btn_main" href="#">
					<span>обратная связь</span>
				</a>
			</div>
		</div>
	</div>
	<!-- end header -->
	<!-- begin nav_main  -->
	<div class="nav_main">
		<div class="wmain">
			<ul class="nav_main_inner">
				<li><a href="#">главная</a></li>
				<li>
					<a href="#">турниры</a>
					<ul>
						<li><a href="#">Feeder Mix Fight Challenge #2</a></li>
						<li><a href="#">Feeder Mix Fight Challenge #1</a></li>
					</ul>
				</li>
				<li><a href="#">РЕЗУЛЬТАТЫ и РЕЙТИНГ</a></li>
				<li><a href="#">НОВОСТИ</a></li>
				<li><a href="#">ГАЛЕРЕЯ</a></li>
				<li><a href="#">Блоги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
	<!-- end nav_main -->
	<!-- begin container_inner  -->
	<div class="container_inner tyrnir_inner_bg">
		<div class="title_main">
			<span>
				ТУРНИРЫ
			</span>
		</div>
		<div class="tyrnir_inner">
			<div class="ti_title">
				Feeder Mix Fight Challenge  <span>#1</span>
				<i>#FMFC1</i>
			</div>
			<!-- begin ti_top  -->
			<div class="ti_top">
				<div class="tit_left">
					<div class="content_text">
						<p>
							26 июля 2015 года недалеко от г. Бронницы на водоеме туристической базы «Велинка» прошел первый турнир FEEDER MIX FIGHT CHALLENGE. Первый турнир собрал 59 участников. По условиям турнира все участники ловили на прикормки одного производителя CARPOLUX. 
						</p>
						<p>
							Турнир проводился при поддержке магазинов SaimoFishing и Мои Снасти.
						</p>
					</div>
					<!-- begin tyrnir_sponsor  -->
					<div class="tyrnir_sponsor">
						<ul class="ts_list">
							<li>
								<span>
									<img src="img/sponsor_logo_1.png">
								</span>
							</li>
							<li>
								<span>
									<img src="img/sponsor_logo_2.png">
								</span>
							</li>
							<li>
								<span>
									<img src="img/sponsor_logo_4.png">
								</span>
							</li>
							<li>
								<span>
									<img width="96" src="img/sponsor_logo_5.png">
								</span>
							</li>
						</ul>
						<div class="ts_title">Спонсоры ТУРНИРА</div>
					</div>
					<!-- end tyrnir_sponsor -->
					<div class="text_align">
						<a class="btn_main" href="#"><span>посмотреть результаты</span></a>
					</div>
				</div>
				<div class="tit_right">
					<div class="ti_info">
						<div class="tii_title">
							ИНФОРМАЦИЯ:
						</div>
						<ul class="tii_list">
							<li>
								Дата проведения кубка: <span>26.09.15</span>
							</li>
							<li>
								Водоем: <span>КРХ "Генезис"</span>
							</li>
							<li>
								СТОИМОСТЬ УЧАСТИЯ: <span>1 000 рублей</span>
							</li>
						</ul>
						<div class="tii_title">
							РЕГЛАМЕНТ КУБКА:
						</div>
						<ul class="tii_list">
							<li>
								Прибытие на водоем: <span>26.09.2015 до 06:00</span>
							</li>
							<li>
								Жеребьёвка: <span>с 06:00-06:30</span>
							</li>
							<li>
								Вход в сектор: <span>07:00</span>
							</li>
							<li>
								Продолжительность тура: <span>с 08:30 до 14:30</span>
							</li>
							<li>
								Награждение: <span>15:30</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end ti_top -->
		</div>
		<div class="tyrnir_text_bottom">
			<div class="ttb_ttile">ПРАВИЛА КУБКА:</div>
			<div class="tit_left">
				<div class="content_text">
					<p>Соревнование проводится в 1 тур, продолжительностью 6 часов. Все участники располагаются в одной зоне. Длина сектора, независимо от количества участников, ограничена пятью метрами и более;</p>
					<p>Компания DUNAEV предоставляет участникам на выбор три любых пакета прикормки, кроме серий Спорт и компонент. Участники при регистрации должны указать выбранный набор прикормок. Для создания равных условий участники обязаны использовать только выбранные ими смеси от производителя DUNAEV. Использование других прикормок запрещено.</p>
					<p>Количество прикормки ограничено. Участникам разрешатся использовать только сухую прикормочную смесь предоставленную организаторами (три пакета на выбор), до 12 литров другой составляющей (пеллетс, грунт, зерновые компоненты) и до 2-х килограмм «живой составляющей» в том числе насадки (мотыль, червь, опарыш). Количество искусственных насадок и насадок растительного происхождения ограничивается 1.5 кг общего веса. Проверка прикормки и насадок будет произведена судейской бригадой в течение часа после сигнала входа в зону.</p>
					<p>Разрешено прикармливать только с помощью рабочего удилища, оснащённого кормушкой. Использование других приспособлений запрещено.<br>
					Ловля осуществляется одним рабочим удилищем с одной кормушкой или грузилом, с одним одинарным крючком. Количество запасных снастей не ограничивается.<br>
					Поклёвка рыбы определяется только с помощью квивертипа.<br>
					Запрещена ловля на живца.<br>
					В зачёт идёт вся пойманная рыба.<br>
					Разрешено использовать любые виды оснасток, в том числе «метод» и «волосяные».
					</p>
					<p>
					Поиск точки ловли осуществляется только с помощью рабочего удилища и маркерного груза. Использование маркерных удилищ и маркерных поплавков запрещено.
					Ширина сектора – не менее 7 метров.<br>
					При количестве участников от 25 и более, берег будет разделен на зоны. В зонах находится равное количество участников (допускается разница, но не более 1 участника).<br>
					Минимальная разрешенная длина садка, сетка которого изготовлена из естественной или искусственной нити – 3 метра. Применение металлического садка запрещено.<br>
					Использование подсачека при вываживании обязательно, вываживание рыбы без использования подсачека строго запрещено, независимо от размера рыбы.<br>
					В связи с большим количеством крупной рыбы в водоеме просим подготовиться и иметь при себе подсачек с большой головой.<br>
					Так как вся рыба подлежит отпусканию, то бережное отношение с рыбой обязательно.<br>
					После сигнала "финиш" все снасти должны быть извлечены из воды.
					</p>
				</div>
			</div>
			<div class="tit_right">
				<div class="content_text">
					<h2>Процедура взвешивания:</h2>
					<p>
						ВНИМАНИЕ! При поимке крупной рыбы, весом более 3 кг, участник обязан немедленно позвать судью и осуществить досрочное взвешивание, после чего рыба должна быть отпущена.
					</p>
					<p>
						В садке разрешено хранение рыбы весом менее 3 кг, при условии, что садок должен быть хорошо заглублен и расправлен. Длина садка не менее 3 метров.
					</p>
					<p>
						Брать рыбу под жабры и за глаза, а также класть на землю категорически запрещено!
					</p>
					<p>
						За небрежное и издевательское обращение с рыбой дисквалификация.
					</p>
					<p>
						До прихода судей для взвешивания, участники не должны вынимать садки из воды. Рыба вынимается из садка и перекладывается в сумку для взвешивания одним из членов команды. После взвешивания всей зоны рыба отпускается в водоем под контролем судей.
					</p>
					<p>
						Во время взвешивания участник должен быть рядом, чтобы контролировать процесс и подписать протокол взвешивания. Никакие протесты по поводу веса пойманной рыбы после завершения взвешивания, возвращения ее в водоем и подписания протокола не принимаются.
					</p>
					<h2>Подведение результатов и награждение:</h2>
					<p>
						Участники, занявшие призовые места, награждаются Кубками и ценными призами от спонсоров.
					</p>
					<p>
						Возможно учреждение дополнительных номинаций от спонсоров.
					</p>
				</div>
			</div>
		</div>

	</div>
	<!-- end container_inner -->
	<!-- begin footer  -->
	<div class="footer">
		<div class="wmain">
			<ul class="nav_main_inner">
				<li><a href="#">главная</a></li>
				<li><a href="#">турниры</a></li>
				<li><a href="#">РЕЗУЛЬТАТЫ и РЕЙТИНГ</a></li>
				<li><a href="#">НОВОСТИ</a></li>
				<li><a href="#">ГАЛЕРЕЯ</a></li>
				<li><a href="#">Блоги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="clr"></div>
			<div class="f_left">
				<a class="h_fb" href="#">
					<span>мы в FACEBOOK</span>
				</a>
			</div>
			<div class="f_center">
				<a class="btn_main" href="#">
					<span>обратная связь</span>
				</a>
			</div>
			<div class="f_right">
				<a class="f_create" href="#">
					<span>Разработка сайта:</span> WHITE-MILK.RU
				</a>
			</div>
		</div>
	</div>
	<!-- end footer -->
</div>
<!-- end container_main -->
</body>
</html>
