<!DOCTYPE html>
<html>
<head>
	<title>Feeder</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
</head>
<body>
<!-- begin container_main  -->
<div class="container_main">
	<a class="subscribe_new" href="#"></a>
	<!-- begin header  -->
	<div class="header">
		<div class="wmain">
			<div class="l_left">
				<a class="h_fb" href="#">
					<span>мы в FACEBOOK</span>
				</a>
			</div>
			<div class="l_center">
				<a class="logo" href="#"></a>
			</div>
			<div class="l_right">
				<a class="btn_main" href="#">
					<span>обратная связь</span>
				</a>
			</div>
		</div>
	</div>
	<!-- end header -->
	<!-- begin nav_main  -->
	<div class="nav_main">
		<div class="wmain">
			<ul class="nav_main_inner">
				<li><a href="#">главная</a></li>
				<li>
					<a href="#">турниры</a>
					<ul>
						<li><a href="#">Feeder Mix Fight Challenge #2</a></li>
						<li><a href="#">Feeder Mix Fight Challenge #1</a></li>
					</ul>
				</li>
				<li><a href="#">РЕЗУЛЬТАТЫ и РЕЙТИНГ</a></li>
				<li><a href="#">НОВОСТИ</a></li>
				<li><a href="#">ГАЛЕРЕЯ</a></li>
				<li><a href="#">Блоги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
	<!-- end nav_main -->
	<div class="container_inner">
		<div class="title_main">
			<span>
				ТУРНИРЫ
			</span>
		</div>
		<div class="tyrnir_main">
			<div class="tyrnir_list_title">
				<span>БЛИЖАЙШИЕ</span> ТУРНИРЫ
			</div>
			<div class="tyrnir_block">
				<div class="tyrnir_left">
					<div class="tyrnir_left_img">
						<img src="img/tyrnir_img1.jpg">
					</div>
					<div class="tyrnir_left_table">
						<div class="tyrnir_left_cell">
							<div class="tyrnir_name">
								Feeder Mix Fight Challenge
								<span>
									Final 2015 Battle
								</span>
								<div class="tyrnir_hash">
								#FMFC2
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="tyrnir_right">
					<div class="tyrnir_data">
						Дата проведения:
						<span>
							26.09.15
						</span>
					</div>
					<div class="tyrnir_right_text">
						Cтартует регистрация на второй тур - Feeder Mix Fight Challenge - Final 2015 Battle Место проведение: КРХ «Генезис»
					</div>
					<a class="btn_str" href="#">
						подробнее
					</a>
				</div>
			</div>

			<div class="tyrnir_list_title">
				<span>ПРОШЕДШИЕ</span> ТУРНИРЫ
			</div>
			<div class="tyrnir_block">
				<div class="tyrnir_left">
					<div class="tyrnir_left_img">
						<img src="img/tyrnir_img2.jpg">
					</div>
					<div class="tyrnir_left_table">
						<div class="tyrnir_left_cell">
							<div class="tyrnir_name">
								Feeder Mix Fight Challenge #1
								<span>
									#FMFC1
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="tyrnir_right">
					<div class="tyrnir_data">
						Дата проведения:
						<span>
							26.09.15
						</span>
					</div>
					<div class="tyrnir_right_text">
						26 июля 2015 года недалеко от г. Бронницы на водоеме туристической базы «Велинка» прошел первый турнир FEEDER MIX FIGHT CHALLENGE. Первый турнир собрал 59 участников...
					</div>
					<a class="btn_str" href="#">
						подробнее
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- begin footer  -->
	<div class="footer">
		<div class="wmain">
			<ul class="nav_main_inner">
				<li><a href="#">главная</a></li>
				<li><a href="#">турниры</a></li>
				<li><a href="#">РЕЗУЛЬТАТЫ и РЕЙТИНГ</a></li>
				<li><a href="#">НОВОСТИ</a></li>
				<li><a href="#">ГАЛЕРЕЯ</a></li>
				<li><a href="#">Блоги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="clr"></div>
			<div class="f_left">
				<a class="h_fb" href="#">
					<span>мы в FACEBOOK</span>
				</a>
			</div>
			<div class="f_center">
				<a class="btn_main" href="#">
					<span>обратная связь</span>
				</a>
			</div>
			<div class="f_right">
				<a class="f_create" href="#">
					<span>Разработка сайта:</span> WHITE-MILK.RU
				</a>
			</div>
		</div>
	</div>
	<!-- end footer -->
</div>
<!-- end container_main -->
</body>
</html>